body {
    font-family: Lora;
    background-color: lightgray;

}

h2,
p,
.readme-wrapper {
    text-align: center;
    position: relative;
    bottom: 25px
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: pointer;
}

a:active {
    text-decoration: none;
}

a {
    color: rgb(7, 196, 22);
}

.name {
    color: rgb(255, 0, 0);
    font-weight: bolder;
}

.boxes {
    margin: 5em;
    padding: 0em;
    border: solid rgb(49, 49, 99);
    border-radius: 2em;
    width: 30em;

}

.blueviolet {
    border-radius: 2em;
    background-color: blueviolet;

}

.orange {
    border-radius: 2em;
    background-color: orange;

}

.red {
    border-radius: 2em;
    background-color: darkred;

}

.green {
    border-radius: 2em;
    background-color: limegreen;
}

.boxes {
    display: block
}

.images {
    position: relative;
    top: 20px;
    left: 150px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
}

h1 {
    color: rgb(1, 112, 116);
}

.original {
    color: chocolate;
}

.additional {
    color: cornflowerblue;
}

ul {
    color: crimson;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.star {
    color: chartreuse;
    font-family: fantasy
}

#wars {
    font-family: monospace;
    color: turquoise;
    font-weight: bolder;
    font-size: large;
}

#bb1 {
    border-radius: 2px;
    border-color: black;
    border: solid;
}