body {
    font-family: Lora;
    background-color: lightgray;

}

h2,
p,
.readme-wrapper {
    text-align: center;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: pointer;
}

a:active {
    text-decoration: none;
}

a {
    color: rgb(7, 196, 22);
}

.name {
    color: rgb(255, 0, 0);
    font-weight: bolder;
}

.boxes {
    margin: 5em;
    padding: 0em;
    border: solid rgb(49, 49, 99);
    border-radius: 2em;
    width: 30em;

}

.blueviolet {
    border-radius: 2em;
    background-color: blueviolet;

}

.orange {
    border-radius: 2em;
    background-color: orange;

}

.red {
    border-radius: 2em;
    background-color: darkred;

}

.green {
    border-radius: 2em;
    background-color: limegreen;
}
.boxes{
    display:block
}